body {
  height: 200vh;
  background-color: grey;
}

.videos-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  .video-thumbs-wrapper {
    height: 300px;
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: black;
    margin: 200px;
    .video-thumb-cards {
      background-color: white;
      width: 200px;
      margin: 20px;
      display: flex;
      flex-direction: column;
      color: white;
    }
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    select {
      width: 30%;
    }
    input {
      width: 30%;
    }
  }
}
